.nav-bar {
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 20px;
    transition: color 0.3s, background-color 0.3s;
}

.tabs:hover,
.requests:hover {
    color: #007BFF;
    background-color: #e6f7ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
    right: 30px;
    position: fixed;
}

.requests {
    right: 400px;
    position: fixed;
    font-size: 25px;
    align-self: center;
    padding: 2px 4px;
    border-radius: 20px;
    transition: color 0.3s, background-color 0.3s;
}

.friend-requests-menu {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    right: 340px;
    top: 59px;
    padding: 10px 25px;
}

.accept {
    color: green;
    font-size: 20px;
    justify-self: end;
}
.accept:hover {
    background-color: green;
    color: white;
    border-radius: 50%;
}
.decline {
    color: red;
    font-size: 25px;
    margin-left: 4px;
    margin-right: 4px;
}
.decline:hover {
    background-color: red;
    color: white;
    border-radius: 50%;
}

.friend-requests-item:hover{
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
}
