.profile-page {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main-content {
    flex-grow: 1;
    margin-right: 20px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    top: 100px;
    left: 90px;
}

.username {
    top: 145px;
    left: 270px;
    position: absolute;
    padding: 10px;
    margin-bottom: 3px;
}

.follower-count {
    top: 167px;
    left: 270px;
    position: absolute;
    font-size: 20px;
    font-weight: light;
    padding: 20px;
}

/* Container for top songs */
.top-songs-container {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 90px;
  }

  /* Individual song item */
  .song-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  /* Song title styling */
  .song-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 3px;
  }

  /* Artist name styling */
  .artist-name {
    font-size: 1em;
    color: #666;
    margin: 5px 0 5px 0;
  }
