.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.main-content {
    display: flex;
    flex-grow: 1;
    margin-right: 20px;
    align-items: center;
}
.profile-content {
    position: fixed;
    top: 90px;
    left: 200px;
    z-index: 1;
    display: grid;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    top: 90px;
    left: 200px;
}

.username {
    top: 125px;
    left: 390px;
    position: fixed;
    padding: 10px;
    margin-bottom: 3px;
}

.follower-count {
    top: 150px;
    left: 400px;
    position: fixed;
    font-size: 20px;
    font-weight: light;
    padding: 20px;
}

.spotify-url {
    top: 175px;
    left: 400px;
    position: fixed;
    font-size: 16px;
    font-weight: light;
    padding: 20px;
}

.top-songs-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 90px;
    top: 270px;
    overflow-y: auto;
    max-height: 69vh;
}

.top-songs-container h3 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.song-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.song-item:hover {
    background-color: #f0f0f0;
}

.song-title {
    font-size: 1.2em;
    font-weight: 600;
    color: #666;
    margin: 0;
}

.artist-name {
    font-size: 1em;
    color: #007BFF;
    margin: 2px 0 5px 0;
}

.recently-played {
    position: relative;
    margin-left: 200px;
    margin-top: 270px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recently-played-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.recently-played-title {
    font-size: 28px;
    color: #333;
}

.recently-played-songs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 600px;
    padding: 10px;
    z-index: 1000;
    overflow-y: scroll;
    margin-top: 20px;
}

.recently-played-songs::-webkit-scrollbar,
.top-songs-container::-webkit-scrollbar {
    display: none;
}

.song {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    margin: 10px 0;
    width: 800px;
    max-width: 1000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}


.song:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.song-name {
    font-weight: bold;
    color: #007BFF;
    margin: 0 0 5px 0;
}

.artist-names {
    color: #666;
    margin: 0;
    font-size: 14px;
}


.follow-button {
    text-decoration: none;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    z-index: 1;
    left: 1200px;
    top: 80px;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.compatibility-score {
    z-index: 3;
    left: 1100px;
    top: 30px;
    position: relative;
    font-size: 30px;
}

.interaction-button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: #007BFF;
    cursor: pointer;
    font-size: 16.5px;
    display: none;
}

.song:hover .interaction-button {
    display: block;
}

.interaction-button:hover {
    color: #0056b3;
}
