#search-bar {
    padding: 12px;
    width: 300px;
    margin-right: 3px;
    border: 1px solid black;
    border-radius: 10px;
}

#search-button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.searchForm {
    margin-bottom: 15px;
}

.search-result {
    width: 100%;
    background-color: #f0f0f0;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search-result div {
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, transform 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-result div:last-child {
    border-bottom: none;
}

.search-result div:hover {
    background-color: #e6f7ff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
